/* ! 改样式表为项目的公共样式表 这个样式表写整个项目中需要公共使用的样式
   !该样式表在工作中 除了项目组组长 其他人不允许修改 或者组员申请修改经过同意后
   !可以修改

 1可以在main引入 import './style/common.css'
 2也可以在app.vue用css import url('./xx.css')
*/

/*
 使用怪异盒模型，可以让浏览器认为我们的元素是盒子，而不是矩形内容宽高。
 例子使用场景：你修改一个input它的高是42px，它有上下1px边框，如果是标准盒模型，你设置高为42px，则盒子大小为44px,因为标准盒模型设置的宽高是内容高不包括内边距、边框
            怪异盒模型设置的宽高是内容高包括内边距、边框，你可以直接设置高为42px，盒子高包含了内容、内边距、边框，
*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* ~ %相对于父级所以body html也要设置，尽量不混用 % vh vw ，容易产生未知错误 */
html,
body,
#app {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* 版心 */
.w {
  width: 1214px;
  margin: 0 auto;
}


a {
  cursor: pointer;
}