// 创建less变量和函数
/* 导航栏样式变量 */
// variables.less

// 个人中心
/* 菜单字体颜色 */
@menuText: #bfcbd9;
/* 活动菜单字体颜色 */
@menuActiveText: #409EFF;
/* 活动子菜单字体颜色 */
@subMenuActiveText: #f4f4f5;
/* 菜单背景颜色 */
@menuBg: #304156;
/* 菜单鼠标移入颜色 */
@menuHover: #263445;
/* 子菜单背景颜色 */
@subMenuBg: #1f2d3d;
/* 子菜单鼠标移入颜色 */
@subMenuHover: #001528;

/* 宽度 */
@sideBarWidth: 210px;
@ContentContainerW: 960px;
@ContentRightSideW: 240px;



// 色彩
@color: var(--color, #79bbff); // 主色调
@assistColor: var(--assistColor, #539dfd60); // 辅助色调

// 文本标题
@textColor: var(--textColor, #333);


//
// 默认的主题颜色
@background: var(--background, #f5f7fd);
@background-img: var(--background-img, white);
@header-background-img: var(--header-background-img, url("https://code-nav.top/statics/img/ssr/bg-boy.jpg"));

