/* 导航栏样式变量 */

/* 菜单字体颜色 */
:root {
  --menuText: #bfcbd9;
}

/* 活动菜单字体颜色 */
:root {
  --menuActiveText: #409EFF;
}

/* 活动子菜单字体颜色 */
:root {
  --subMenuActiveText: #f4f4f5;
}

/* 菜单背景颜色 */
:root {
  --menuBg: #304156;
}

/* 菜单鼠标移入颜色 */
:root {
  --menuHover: #263445;
}

/* 子菜单背景颜色 */
:root {
  --subMenuBg: #1f2d3d;
}

/* 子菜单鼠标移入颜色 */
:root {
  --subMenuHover: #001528;
}

/* 宽度 */
:root {
  --sideBarWidth: 210px;
  --ContentContainerW: 960px;
  --ContentRightSideW: 240px;
}
