<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.sys.SysDeptMapper">

    <resultMap id="BaseResultMap" type="com.entity.sys.SysDept" >
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="parent_id" property="parentId" />
        <result column="dept_name" property="deptName" />
        <result column="dept_type" property="deptType" />
        <result column="status" property="status" />
        <result column="sort" property="sort" />
    </resultMap>

    <select id="deptList" resultType="com.entity.sys.SysDept">
        select a.id,a.parent_id ,a.dept_type,a.dept_name,b.dept_name parentName,a.status,a.sort,a.create_time,a.create_by
        FROM sys_dept a
        LEFT JOIN sys_dept b on a.parent_id=b.dept_id
        <where>
            a.dept_type = #{deptType}
            <if test="deptName != null and deptName != ''">
                AND a.dept_name like concat('%', #{deptName}, '%')
            </if>
            <if test="parentId != null">
                and a.parent_id=#{parentId}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>