<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.sys.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.entity.sys.SysUser" >
        <result column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="roles" property="roles" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="phone_number" property="phoneNumber" />
        <result column="avatar" property="avatar" />
        <result column="status" property="status" />
        <result column="login_date" property="loginDate" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="error_num" property="errorNum" />
        <result column="update_pwd_time" property="updatePwdTime" />
        <association property="dept"  column="dept_id" javaType="com.entity.sys.SysDept" resultMap="deptResult" />
    </resultMap>

    <resultMap id="deptResult" type="com.entity.sys.SysDept" >
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="parentName" property="parentName" />
        <result column="dept_name" property="deptName" />
        <result column="dept_type" property="deptType" />
    </resultMap>

    <select id="list" resultType="com.entity.sys.SysUser">
        SELECT a.id,a.user_name,a.real_name,a.roles,a.status,a.phone_number,a.dept_id,b.dept_name,b.parent_id,c.dept_name parentName
        FROM sys_user a
        LEFT JOIN sys_dept b on a.dept_id=b.id
        LEFT JOIN sys_dept c on b.parent_id=c.id
    </select>

</mapper>
